/** ----------------------
    Variables
------------------------ **/

$font-stack:    Helvetica, sans-serif;
$teal: rgb(20, 210, 193);
$grey: rgba(226, 228, 230, 1);
$shadow: 1px 1px 0 rgba(0,0,0,0.15);
