/*
 * YOUR STYLES HERE
 */

@import 'variables';
@import 'utilities';
@import 'normalize';
@import 'globals';
@import 'site-components/pinboard';
@import 'admin-components/nav';
@import 'admin-components/configure-site';
@import 'admin-components/create-site';
@import 'admin-components/list-sites.scss';



/**** Doesn't fit anywhere else yet ****/
body {
    background-color: $teal;
    padding: 20px; 
}


.app-frame {  // contains currentpage
    padding: 20px;
}

