
<div class="pinboard-card-list  u-cf">
    {{#cards}}
        <div class="pinboard-card">
            <div class="pinboard-card--preview">
                <img src="{{trello_data.attachments.0.url}}" />
                </div>
            <h2>{{title}}</h2>
            <div class="pinboard-card--desc">{{trello_data.desc}}</div>    
            <p>📆 null </p>
            <div><a href="/{{external_id}}">Read More</a>
            </div>
        </div>

    {{/cards}}
</div>
