
<div class="pinboard-card-list">
    {{#cards}}
        <div class="pinboard-card">
            <h2>{{name}}</h2>
            <div class="pinboard-card--desc">{{trello_data.desc}}</div>    
        </div>
    {{/cards}}    
</div>
