/** ----------------------
    Configure Site
------------------------ **/

.module-title {
    padding-top: 10em;
}

 .btn--edit::before {
    content:"📝 ";
 }

.route-container {
    font-family: "Helvetica";
}

.route {
    font-size: 1.25em;
}


.col-meta {
    
}

.col-meta > *  {
    float: left;
}
