/** ----------------------
    Create New Site
------------------------ **/

.board {
    border: 1px solid #ccc;
    background-color: #fafafa;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 4px;
}
