{{!     List of User's Websites
        ---------------
        Returns a list of all a users' sites. 
        Allows the user to CONFIGURE a given site, or CREATE a new one. 

        TODO: 
        - Finish the markup
        - Tidy up the source data (i mean it's gonna keep changing anyway so NBD)
        - Naming conventions, yo! 
 }}
 
{{#projects}}
    <div class="project">
        <h2>
            {{title}} <small><a href="#">Edit Project</a></small>
        </h2>  

        <a href="{{domain}}">{{domain}} →</a>
        
        <a class="trello-board" href="https://trello.com/{{board-id}}">{{board}}</a>
    
    </div>
{{/projects}}
{{^projects}}
    You have no projects, create one?
{{/projects}}

<div>
    <a href="#">Add new project</a>
</div>
