{{!     In-App Navigation
        ---------------
        For moving yourself around the app. 

        TODO: 
        - Lots
 }}

<header>
    Hi {{user}}. 
    <nav>

        <a href="#">← View All Projects</a>
        <a href="#">Account Settings</a>
        <a href="#">Log out</a>
    </nav>
</header>
