{{!     In-App Navigation
        ---------------
        For moving yourself around the app. 

        TODO: 
        - Lots
 }}

<header class="main-navigation  u-cf">
    <span id="logo">Trellofolio</span>
    <nav>
        <a href="#">View All Projects</a>
        <a href="#">Account Settings</a>
        <a href="#">Log out</a>
    </nav>
</header>
