
<header class="module-title">
    <a class="btn" href="#">↖ Return to all projects</a>
    <h1>{{title}}</h1>
    <p>{{slug}}.trellofolio.com</p>

    <a href="#">Customise URL / Add CNAME</a> <a class="button" href="{{url}}">View on Trello →</a></p>
</header>

<div class="list-container">
{{#lists}}
    <div class="list-item collection  published-{{published}}">
        <div class="col-meta  u-cf">
            <h2>{{title}}</h2>
            <button>Publish</button>
        </div>
        
        <div class="config">
            <div class="route-container">
                <a class="route" href="{{slug}}">/{{slug}}</a>
                <a class="btn  btn--edit" href="#">Change Stub</a> 
            </div>
            <div class="templates">
                <h3>Template</h3>
                <select>
                    <option>Gallery</option>
                    <option>Pinboard</option>
                    <option>Publication</option>
                </select>
                <span>Gallery: A gallery style view with expandable lightboxes. Perfect for displaying image-heavy cards.</span>
            </div>
            <!--<div class="fields">
                <h3>Fields to Render (dev only)</h3>
                <p><small>Some of these fields will be ones that don't exist on Trello—e.g. "short-desc", which we'd have to generate ourselves. (for example, by grabbing the first three sentences from a description). In production, these fields will be associated with <strong>templates</strong> instead of <strong>collections (lists)</strong>. </small></p>
                <input type="checkbox" id="example-{{id}}"><label for="example-{{id}}">Example</label>
            </div>-->
        </div>
    </div>
{{/lists}}
</div>
