{{!     Create Site
        ---------------
        Allows the user to create a new website. This is a multi-step process that includes 
        - picking a board to sync with 
        - confrming site's name and initial domain name.

        We'll keep all this in a single component and use Javascript to progressively reveal the steps.

        TODO: 
        - Add the rest of the markup—formify this. 
        - Add some fancy JS to progressively reveal each section of the form so it's usable. (Later)
 }}

<header class="module-title">
    <a class="btn" href="#">↖ Return to your projects</a>
    <h1>Create New Site</h1>
    <p>Your Trellofolio will automatically stay in sync with the board to which you connect.</p>
</header>

<section class="list-container">
    <header>
        <h2>Available Trello Boards</h2>
    </header>
   
    {{#boards}}
        <div class="list-item  u-cf  board {{#project}}is-project{{/project}}">
            <h3>{{title}}</h3>
            {{^project}} 
                <a href="#" class="btn  btn--square  board-picker">Pick Board</a>

            {{/project}}
        </div>
    {{/boards}}  

</section>
